.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    color: var(--color-base);
    font-family: var(--font-open-sans);
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);  
    margin-top: 100px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, var(--color-primary), var(--color-secundary));
  }

  .logo {
    font-size: 1.6rem;
    font-weight: bold;
    background: linear-gradient(95deg, var(--color-primary), var(--color-secundary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;  
    cursor: pointer;
  }

  .gitHub a, i {
    color: inherit;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background: linear-gradient(95deg, var(--color-primary), var(--color-secundary));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; 
    }
  }
}
