.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  color: var(--color-base);
  font-family: var(--font-open-sans);
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);  

   &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, var(--color-primary), var(--color-secundary));
    animation: shine 3s linear infinite;

  }

  .image {
    width: 60px;  
    margin-right: 10px; 
    align-items: center;

    img{
      width: 100%;
      height: auto;
      object-fit: contain; 
      ;
    }
  }

  .logo {
    font-size: 1.6rem;
    font-weight: bold;
    background: linear-gradient(95deg, var(--color-primary), var(--color-secundary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;  
    cursor: pointer;
  }

  .gitHub a, i {
    color: inherit;
    margin-left: 20px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background: linear-gradient(95deg, var(--color-primary), var(--color-secundary));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; 
    }
  }

  .cnt-log{
    display: flex;
    align-items: center;
  }

}
