
  pre {
    padding: 8px;
    background: #282936;
    border-radius: 12px;
    overflow-x: auto;
    font-size: 0.95rem;
    margin-top: 0px;
  }
  
  code {
    font-family: var(--font-roboto-mono);
    white-space: pre-wrap;
  }

  .copy-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative; 

    button {
      display: flex;
      padding: 10px;
      justify-content: center;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: transform 0.1s ease, color 0.2s ease;

      i {
        font-size: 18px;
        transition: color 0.2s ease;

        &:hover {
          color: var(--color-tertiary);
        }
      }

      &:active {
        transform: scale(0.9);
      }

      &::after {
        content: 'Copiado!';
        position: absolute;
        top: -10px;
        right: 0;
        background-color: var(--color-tertiary);
        color: #fff;
        padding: 3px 8px;
        border-radius: 6px;
        font-size: 18px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease, transform 0.2s ease;
        transform: translateY(-5px);
      }

      &:active::after {
        opacity: 1;
        transform: translateY(-15px);

      }
    }
  }




  



